@import 'tailwindcss';

@theme {
    /* Paper colors */
  --color-paper-blue: #CAE7ED;
  --color-paper-blue-mid: rgb(149,207,219);
  --color-paper-blue-dark: rgb(84,178,197);
  
  --color-paper-green: #A7D9B8;
  --color-paper-green-mid: rgb(45,164,86);

  --color-paper-pink: rgb(245,201,211);
  --color-paper-pink-mid: rgb(235,147,167);
  
  --color-paper-purple: #AEADD7;
  --color-paper-purple-mid: rgb(147,146,202);
  --color-paper-purple-dark: rgb(94,92,175);

  --color-paper-yellow: #FCF5BE;
  --color-paper-yellow-mid: rgb(245,223,45);
  --color-paper-yellow-dark: rgb(240,205,0);
  
  --color-paper-white: #FFFEF8;
  --color-paper-black: #404040;

  --color-accent-blue: #0D6193;
  --color-accent-green: #4B7358;
  --color-accent-red: #DA4942;
  --color-accent-orange: #E9842F;
  --color-accent-white: #E9E2C7;
}

:root {
  --evening-bg: #0A0A58;
  --evening-mg: #10108B;
  --evening-fg: #1515BE;

  --dawn-dusk-bg: #1D0B62;
  --dawn-dusk-mg: #68108B;
  --dawn-dusk-fg: #BE4B15;

  --day-bg: #BEFEFF;
  --day-mg: #FFFFFF;
  --day-fg: #FFCF6F;
  
  /* --evening-gradient: radial-gradient(397.67% 100% at 50.05% 0%, #1515BE 0%, #10108B 25%, #0A0A58 100%);
  --dawn-dusk-gradient: radial-gradient(193.32% 43.14% at 50% 100%, #BE4B15 0%, #68108B 50%, #0A0A58 100%, #1D0B62 100%);
  --day-gradient: radial-gradient(230.31% 100% at 50% 0%, #FFCF6F 0%, #FFFFFF 33.39%, #BEFEFF 99.99%); */
}

.wood-bg {
  background-image: url('/assets/img/wood-bg.jpeg');
  background-size: contain;
}

.noise {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs" viewBox="0 0 700 700" width="700" height="700" opacity="1"><defs><filter id="nnnoise-filter" x="-20%" y="-20%" width="140%" height="140%" filterUnits="objectBoundingBox" primitiveUnits="userSpaceOnUse" color-interpolation-filters="linearRGB"><feTurbulence type="turbulence" baseFrequency="0.131" numOctaves="4" seed="15" stitchTiles="stitch" x="0%" y="0%" width="100%" height="100%" result="turbulence"></feTurbulence><feSpecularLighting surfaceScale="9" specularConstant="2.1" specularExponent="20" lighting-color="%23d0021b" x="0%" y="0%" width="100%" height="100%" in="turbulence" result="specularLighting"><feDistantLight azimuth="3" elevation="97"></feDistantLight></feSpecularLighting><feColorMatrix type="saturate" values="0" x="0%" y="0%" width="100%" height="100%" in="specularLighting" result="colormatrix"></feColorMatrix></filter></defs><rect width="700" height="700" fill="transparent"></rect><rect width="700" height="700" fill="%23d0021b" filter="url(%23nnnoise-filter)"></rect></svg>');
  mix-blend-mode: multiply;
  background-size: 125px;
  opacity: 0.5;
}

@property --gradient-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #00FFFF;
}
@property --gradient-mg {
  syntax: "<color>";
  inherits: false;
  initial-value: #FFFF00;
}
@property --gradient-fg {
  syntax: "<color>";
  inherits: false;
  initial-value: #FF00FF;
}
@property --gradient-fg-y {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 0%;
}

body {
  position: relative;
  min-height: 100vh;
}
@keyframes transitionEvening {
  to {
    --gradient-bg: var(--evening-bg);
    --gradient-mg: var(--evening-mg);
    --gradient-fg: var(--evening-fg);
  }
}
@keyframes transitionDawnDusk {
  to {
    --gradient-bg: var(--dawn-dusk-bg);
    --gradient-mg: var(--dawn-dusk-mg);
    --gradient-fg: var(--dawn-dusk-fg);
    --gradient-fg-y: 100%;
  }
}
@keyframes transitionDay {
  to {
    --gradient-bg: var(--day-bg);
    --gradient-mg: var(--day-mg);
    --gradient-fg: var(--day-fg);
    --gradient-fg-y: 0%;
  }
}

.gradient-mg {
  transition: all 5s ease-out;
}

.gradient-background.day {
  .gradient-bg {
    --gradient-bg: var(--day-bg);
    background-color: var(--gradient-bg);
    animation: transitionDay 5s ease-out;
    animation-fill-mode: forwards;
  }
  .gradient-mg {
    --gradient-mg: var(--day-mg);
    background-color: red;
    mask-image: linear-gradient(magenta, transparent);
    mask-mode: alpha;
    /* animation: transitionDay 2.5s ease-out;
    animation-fill-mode: forwards; */
  }
  .gradient-fg {
    --gradient-fg: var(--day-fg);
    --gradient-fg-y: 0%;
    background-image: radial-gradient(ellipse at 25% var(--gradient-fg-y), var(--gradient-fg) 5%, transparent 50%);
    background-size: 250%;
    animation: transitionDay 1.25s ease-out;
    animation-fill-mode: forwards;
  }

}
.gradient-background.dawn-dusk {
  .gradient-bg {
    --gradient-bg: var(--dawn-dusk-bg);
    background-color: var(--gradient-bg);
    animation: transitionDawnDusk 1.25s ease-out;
    animation-fill-mode: forwards;
  }
  .gradient-mg {
    --gradient-mg: var(--dawn-dusk-mg);
    background-image: linear-gradient(to 100%, var(--gradient-mg), transparent);
    animation: transitionDawnDusk 1.25s ease-out;
    animation-fill-mode: forwards;
  }
  .gradient-fg {
    --gradient-fg: var(--dawn-dusk-fg);
    --gradient-fg-y: 100%;
    background-image: radial-gradient(ellipse at 50% var(--gradient-fg-y), var(--gradient-fg) 5%, transparent 50%);
    background-size: 250% 65%;
    background-position: bottom center;
    background-repeat: no-repeat;
    animation: transitionDawnDusk 1.25s ease-out;
    animation-fill-mode: forwards;
  }
}

.gradient-background.evening {
  .gradient-bg {
    --gradient-bg: var(--evening-bg);
    background-color: var(--gradient-bg);
    animation: transitionEvening 1.25s ease-out;
    animation-fill-mode: forwards;
  }
  .gradient-mg {
    --gradient-mg: var(--evening-mg);
    background-image: linear-gradient(to 100%, var(--gradient-mg), transparent);
    animation: transitionEvening 1.25s ease-out;
    animation-fill-mode: forwards;
  }
  .gradient-fg {
    --gradient-fg: var(--evening-fg);
    background-image: radial-gradient(ellipse at 25% var(--gradient-fg-y), var(--gradient-fg) 5%, transparent 50%);
    animation: transitionEvening 1.25s ease-out;
    animation-fill-mode: forwards;
  }
}

/*
  https://css-generators.com/wavy-shapes/
  https://css-tricks.com/how-to-create-wavy-shapes-patterns-in-css/
*/
.box {
  --mask:
    radial-gradient(16.4px at 50% 23px,#000 99%,#0000 101%) calc(50% - 20px) 0/40px 51% repeat-x,
    radial-gradient(16.4px at 50% -13px,#0000 99%,#000 101%) 50% 10px/40px calc(51% - 10px) repeat-x,
    radial-gradient(16.4px at 50% calc(100% - 23px),#000 99%,#0000 101%) calc(50% - 20px) 100%/40px 51% repeat-x,
    radial-gradient(16.4px at 50% calc(100% + 13px),#0000 99%,#000 101%) 50% calc(100% - 10px)/40px calc(51% - 10px) repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.ticket-container {
  filter: drop-shadow(2px 2px 3px #0005);
  transform: rotate(1.5deg);
}
.ticket {
    --puncture-size: 2.5px;
  --puncture-spacing: 2.5px;
  --perforation-height: calc(
    var(--puncture-size) * 2 +
    var(--puncture-spacing) * 2
  );
  --coupon-height: calc(var(--perforation-height) * 7);
  text-align: center;
  font-size: 0.9rem;
  line-height: 1.25;
  mask-image: radial-gradient(var(--puncture-size) at 0 50%, white 99%, black 101%),
    radial-gradient(var(--puncture-size) at 100% 50%, black 99%, white 101%);
  mask-composite: exclude;
  mask-mode: luminance;
  mask-size: 100% var(--perforation-height);
  background: rgb(250,245,235);
  height: auto;
  min-height: var(--coupon-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
}

.ticket-container.from {
  transform: rotate(-1deg);
}